# Ignore my personal files and folders
*.lnk
example/

# Ignore test files (which are too big - 1GB!!!)
test/test_10mb
test/test_100mb
test/test_1gb
test/*.enc
test/*.dec
test/*.key
test/*.pub
test/*.bin